{
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "Components": "./src/library/common/components",
                "Default": "./src/modules/default"
            }
        }]
    ]
}